<div class="rightPart">
  <div class="rightPartInner">
    <div id="about">
      <div class="container">
        <div class="about">
          <div class="about_image">
            <!-- <img src="../../../assets/images/sofii2.jpg"> -->
            <div class="main"></div>
          </div>
          <div class="description">
            <h3 class="name">Hafsa A. Mubarak</h3>
            <div class="description_inner">
              <div class="left">
                <p>Hello, I'm a creative Front End Developer that brings enthusiasm and detailed understanding of various programming languages to web page planning.<br> My goal is to save your time and money. In return, I will get more experience and earn customers' trust. <br> If you want genuine and unique work, Do not hesitate to contact me! </p>
                <!-- Button trigger modal -->
<button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#exampleModal">
  SEE MORE
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Frontend Development Skills</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="modal-progress">
          <div class="progress_inner" data-value="95">
            <span>
              <span class="label">HTML</span>
              <span class="number">95%</span>
            </span>
            <div class="background">
              <div class="bar_open">
                <div class="bar_in" style="width: 95%;"></div>
              </div>
            </div>
          </div>
          <div class="progress_inner" data-value="90%">
            <span>
              <span class="label">CSS</span>
              <span class="number">90%</span>
            </span>
            <div class="background">
              <div class="bar_open">
                <div class="bar_in" style="width: 90%;"></div>
              </div>
            </div>
          </div>
          <div class="progress_inner" data-value="90%">
            <span>
              <span class="label">Bootstrap</span>
              <span class="number">90%</span>
            </span>
            <div class="background">
              <div class="bar_open">
                <div class="bar_in" style="width: 90%;"></div>
              </div>
            </div>
          </div>
          <div class="progress_inner" data-value="85%">
            <span>
              <span class="label">JavaScript</span>
              <span class="number">85%</span>
            </span>
            <div class="background">
              <div class="bar_open">
                <div class="bar_in" style="width: 85%;"></div>
              </div>
            </div>
          </div>
           <div class="progress_inner" data-value="70%">
            <span>
              <span class="label">Angular</span>
              <span class="number">70%</span>
            </span>
            <div class="background">
              <div class="bar_open">
                <div class="bar_in" style="width: 70%;"></div>
              </div>
            </div>
          </div>
          <div class="progress_inner" data-value="30%">
            <span>
              <span class="label">React JS</span>
              <span class="number">30%</span>
            </span>
            <div class="background">
              <div class="bar_open">
                <div class="bar_in" style="width: 30%;"></div>
              </div>
            </div>
          </div>
          <div class="progress_inner" data-value="80%">
            <span>
              <span class="label">MongoDB</span>
              <span class="number">80%</span>
            </span>
            <div class="background">
              <div class="bar_open">
                <div class="bar_in" style="width: 80%;"></div>
              </div>
            </div>
          </div>
          <div class="progress_inner" data-value="80%">
            <span>
              <span class="label">Firebase</span>
              <span class="number">80%</span>
            </span>
            <div class="background">
              <div class="bar_open">
                <div class="bar_in" style="width: 80%;"></div>
              </div>
            </div>
          </div>
          <div class="progress_inner" data-value="50%">
            <span>
              <span class="label">GraphQL</span>
              <span class="number">50%</span>
            </span>
            <div class="background">
              <div class="bar_open">
                <div class="bar_in" style="width: 50%;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
              </div>
              <div class="right">
                <ul>
                  <li><p><span>Birthday:</span>07.04.1996</p></li>
                  <li><p><span>Age:</span>25</p></li>
                  <li><p><span>Email:</span>hafsamubarak96@gmail.com</p></li>
                  <li><p><span>Phone:</span>01113417881</p></li>
                  <li><p style="font-size: 13px;"><span>Study:</span>Communication and Electronics Engineering</p></li>
                  <li><p><span>Freelance:</span>Available</p></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
