<div class="rightPart">
  <div class="rightPartInner">
    <div id="contact">
      <div class="container">
        <div class="contact">
          <div class="title">
            <div class="title_flex d-flex">
              <div class="left">
                <span>Contcat</span>
                <h3>Get in Touch</h3>
              </div>
            </div>
          </div>
          <div class="map-wrap">
              <app-map></app-map>
         </div>
         <div class="fields">
           <app-contact-form></app-contact-form>
         </div>
      </div>
    </div>
    </div>
    </div>
