.rightPart {
  background-color: #111;
  width: 100%;
  min-height: 100vh;
  position: relative;
  .rightPartInner {
    border-left: none;
    .container {
      padding: 0 20px;
      max-width: 850px;
      .portofolio {
        padding-top: 170px;
        .title {
          margin-bottom: 62px;
          .title_flex {
            justify-content: space-around;
            align-items: flex-end;
            .left {
              span {
                background-color: rgba(255, 255, 255, 0.04);
                color: #777;
                display: inline-block;
                text-transform: uppercase;
                padding: 5px 11px;
                font-weight: 600;
                font-size: 12px;
                margin-bottom: 11px;
              }
              h3 {
                color: #fff;
                font-weight: 800;
                font-size: 30px;
              }
            }
            .portofolio-filter {
              .search {
                margin: 0 40px 0 40px;
                height: 7vh;
                box-shadow: none;
                border: none;
              }
            }
          }
        }
        .list_wrapper {
          width: 100%;
          height: auto;
          padding-bottom: 100px;
          .portofolio_list {
            list-style-type: none;
            color: #fff;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            margin: 0 0 0 -50px;
            li {
              text-align: center;
              font-size: 25px;
              width: 100%;
              font-style: italic;
              padding-left: 50px;
              // height: fit-content;
              // margin: 0 0 0 50px;
              .inner {
                overflow: hidden;
                position: relative;
                width: 100%;
                height: auto;
                a {
                  img {
                    width: 100%;
                    margin-top: 30px;
                    transition: all 0.3s ease;
                  }
                }
                img:hover {
                  transform: rotate(0deg) scale(1.1);
                  transition: all 0.3s ease;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 320px) {
  .portofolio-filter {
    .search {
      font-size: 8px;
      width: 74%;
    }
  }
}
@media (min-width: 375px) {
  .portofolio-filter {
    .search {
      width: 80%;
    }
  }
}
@media (min-width: 786px) {
  .portofolio-filter {
    .search {
      width: 100% !important;
    }
  }
}
@media (min-width: 773px) {
  .portofolio_list {
    flex-direction: row !important;
    li {
      width: 50% !important;
    }
  }
}
@media (min-width: 1200px) {
  .rightPart {
    padding-left: 350px;
    .rightPartInner {
      border-left: 1px solid #202020;
    }
  }
}
