<div class="rightPart">
  <div class="rightPartInner">
    <div id="home">
      <div class="container">
        <div class="home">
          <div class="home_content">
            <div class="avatar">
              <div class="image"></div>
            </div>
            <div class="details">
              <h3 class="name">HAFSA AHMED</h3>
              <p class="job">Frontend Developer (Angular,JavaScript)</p>
              <div class="social">
                <ul>
                  <li>
                    <a
                      href="https://www.facebook.com/HafsaAhmedMubarak/"
                      target="_blank"
                      title="Facebook"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="https://www.linkedin.com/in/hafsa-ahmed96/"
                      target="_blank"
                      title="LinkedIn"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="https://www.instagram.com/sophiii96/"
                      target="_blank"
                      title="Instagram"
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </li>
                  <li>
                    <a href="../../../assets/Hafsa_Ahmed.pdf" download>My CV</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
